{% extends "users/base.html" %}
{% block title %}Web Xurxo - Rexistro completado{% endblock %}
{% block content %}
<main role="main" class="container">
   <div class="starter-template">
      <h1>O teu usuario foi creado con éxito</h1>
      <p class="lead">Se a páxina non é redirixida en 5 segundos pulsa <a href="{% url 'users:login' %}">aquí</a></p>
   </div>
</main>
<script>
   setTimeout(function(){ 
       window.location.replace("{% url 'users:login' %}");
   }, 5000);
</script>
{% endblock %}